<div class="container">
  <div class="sidebar">
    <ul class="menu">
      <li class="menu-item">
        <a
          class="menu-link" 
          routerLink="/folder/inbox"
          routerLinkActive="menu-link--active">
          Inbox
        </a>
      </li>
      <li class="menu-item">
        <a
          class="menu-link" 
          routerLink="/folder/sent"
          routerLinkActive="menu-link--active">
          Sent
        </a>
      </li>
      <li class="menu-item">
        <a
          class="menu-link" 
          routerLink="/folder/deleted"
          routerLinkActive="menu-link--active">
          Deleted
        </a>
      </li>
    </ul>
  </div>
  <main class="content">
    <ng-content></ng-content>
  </main>
</div>
